.main-content {
	max-width: 1024px;
	width: 100%;
	margin: 0 @spacing-s/2;

	@media(min-width: 768px) {
		margin: 0 @spacing-m;
	}

	@media(min-width: 1024px) {
		margin: 0 auto;
	}
}

.main-content__flex-column {
	display: flex;
	flex-direction: column;
	margin-bottom: @spacing-m;

	@media(min-width: 1024px) {
		flex-direction: row;
		margin-bottom: @spacing-l*2;
	}
}

.main-content__description {
	margin: 0 auto;
	padding: 0 15px;
	height: 410px;
	overflow: hidden;
	line-height: 1.5rem;

	@media(min-width: 768px) {
		width: 80%;
		padding-right: 80px;
	}
}
