.page-footer {
	height: 200px;
	background: @bg-grey;
	margin-top: @spacing-l*2;
	@media(min-width: 1024px) {
		height: 400px;
	}
}

.page-footer__title {
	max-width: 1024px;
	margin: 0 auto;
	padding-top: @spacing-l;

}
